@use "~shared/sass/styles.scss";

// BASE
.button {
  font-family: inherit;
  border: none;
  cursor: pointer;
  transition: all 0.2s;
}

// SIZE
.lg {
  font-size: 1.8rem;
  padding: 1rem 2.4rem;
}

// VARIANT
.contained {
  background-color: styles.$color-primary;
  color: white;

  &:hover {
    background-color: styles.$color-primary-light;
  }
}
