@use "~shared/sass/styles.scss";

// BASE
.button {
  font-family: inherit;
  border: none;
  color: white;
  cursor: pointer;
  transition: all 0.2s;
}

// SIZE
.lg {
  font-size: 1.8rem;
  padding: 1rem 2.4rem;
}

.md {
  font-size: 1.6rem;
  padding: 0.6rem 1.2rem;
}

// VARIANT
.contained {
  background-color: styles.$color-primary;

  &:hover {
    background-color: styles.$color-primary-light;
  }
}

.outlined {
  background-color: transparent;
  border: 1px solid white;

  &:hover {
    background-color: styles.$color-primary;
    border: 1px solid transparent;
  }
}
