@use "~shared/sass/styles";

.toolbar {
  padding: 3.2rem 0;
  position: fixed;
  width: 100%;
  transition: all 0.3s;
}

.not-main-page {
  background-color: styles.$bg-dark;
}

.main-page {
  background-color: transparent;
}
