@use "~shared/sass/styles.scss";

.item {
  padding: 1.6rem 0;
  transition: all 0.2s;

  &:hover {
    color: styles.$color-primary;
  }
}

.item-active {
  @extend .item;
  color: styles.$color-primary;
}
