// COLOR
$color-primary: #f0932b;
$color-primary-light: #f2a34b;
$bg-primary: #fdf4e9;
$bg-dark: #2a1803;
$bg-hover-1: rgb(255, 255, 255, 0.2);

// TEXT COLOR
$text-black: #000;

// Z-INDEX
$z-top-nav: 20;

// BORDER RADIUS
$rounded: 9px;
